name: Deploy bot

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: debian-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build image
        run: docker build -t my-bot .

      - name: Run container with secrets
        run: |
          docker run -d \
            -e BOT_TOKEN=${{ secrets.BOT_TOKEN }} \
            -e ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }} \
            -e FOLDER_ID=${{ secrets.FOLDER_ID }} \
            -e CREDENTIALS=${{secrets.CREDENTIALS}} \
            my-bot