name: Deploy bot

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Copy project to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "."
          target: "~/bot-app"

      - name: Generate .env on server
        uses: appleboy/ssh-action@v1.2.2
        with:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          FOLDER_ID: ${{ secrets.FOLDER_ID }}
          CREDENTIALS: ${{secrets.CREDENTIALS}}
          script: |
            cd ~/bot-app
            echo "BOT_TOKEN=${{ secrets.BOT_TOKEN }}" > .env
            echo "ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }}" >> .env
            echo "FOLDER_ID=${{ secrets.FOLDER_ID }}" >> .env
            echo "CREDENTIALS=${{secrets.CREDENTIALS}}" >> .env
            

      - name: Start docker compose
        uses: appleboy/ssh-action@v1.2.2
        with:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          FOLDER_ID: ${{ secrets.FOLDER_ID }}
          CREDENTIALS: ${{secrets.CREDENTIALS}}
          script: |
            cd ~/bot-app
            docker compose pull || true
            docker compose up -d --build
